{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>reBOOT Database</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">reBOOT Canada Database</a>
      </div>
    </nav>


    <div class="container">
        <h1 class="breadcrumb my-4">Total Value</h1>
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Computers</th>
              <th>Printers</th>
              <th>Monitors</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  {cursor.execute("SELECT SUM(price) FROM Items Where type='Computer');
                  results = namedtuplefetchall(cursor)}
                  {results[0].id}

  <!--                <a href="{% url 'items_evaluation' item.pk %}">{{ item.warehousenum }}</a>

                  <small class = "text-muted d-block">{{ item.invoicenum }}</small> -->


                </td>
                <td class = 'align-middle'>
                  {cursor.execute("SELECT SUM(price) FROM Items Where type='Printers');
                  results = namedtuplefetchall(cursor)}
                  {results[0].id}
                </td>
                <td class = 'align-middle'>
                  {cursor.execute("SELECT SUM(price) FROM Items Where type='Monitors');
                  results = namedtuplefetchall(cursor)}
                  {results[0].id}
                </td>

              </tr>
          </tbody>
        </table>
      </div>
    </body>
  </html>
