{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Donations</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">reBOOT Canada Database</a>
    </div>
  </nav>


  <body>
    <div class="container">

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_message">Complete?</label>
          <select type="text" class="form-control" id="id_power_test" name="complete" >
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Post</button>
      </form>

    </div>
  </body>
</html>
